<header class="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-template-project"
        style="border-top: 4px solid #9E9E9E">
        <div class="navbar-brand">
            <div class="navbar-item feelpp-logo">
                <a href="{{{site.url}}}">{{site.title}}</a>
            </div>
            <button class="navbar-burger" data-target="topbar-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link" data-title="Language">
                <span class="icon"><img src="{{{uiRootPath}}}/img/location-24.svg"></span>
            </div>
            <div class="navbar-dropdown">
                <a class="navbar-item" href="https://csmi.cemosis.fr/en/csmi">EN</a>
                <a class="navbar-item" href="https://csmi.cemosis.fr/fr/csmi">FR</a>
            </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
            <div class="navbar-link" data-title="Support">
                <span class="icon"><img src="{{{uiRootPath}}}/img/octicons-24.svg#view-comment-discussion"></span>
            </div>
            <div class="navbar-dropdown is-right">
                <a class="navbar-item has-icon"
                    href="https://join.slack.com/t/feelpp/shared_invite/zt-2qe0q9hw-4pVbhohCXUE6Po9Ma8dbiQ" target="_blank"
                    rel="noopener">
                    <span class="icon"><img src="{{{uiRootPath}}}/img/slack-icon.svg"></span>
                    <span>Chat</span>
                </a>
                <a class="navbar-item has-icon" href="https://github.com/orgs/master-csmi/discussions" target="_blank"
                    rel="noopener">
                    <span class="icon"><img src="{{{uiRootPath}}}/img/octicons-16.svg#view-discussion-closed"></span>
                    <span>Discussions</span>
                </a>
                <a class="navbar-item has-icon" href="https://twitter.com/master_csmi" target="_blank" rel="noopener">
                    <span class="icon"><img src="{{{uiRootPath}}}/img/octicons-16.svg#view-hash"></span>
                    <span>Tweets</span>
                </a>
            </div>
        </div>

        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">
                <!-- <div class="navbar-item">
                    <a href="{{{uiRootPath}}}/../cours-tan/python/index.html">Documentation Reference</a>
                </div> -->
                <div class="navbar-item has-dropdown is-hoverable download-item">
                    <div class="navbar-item"><a href="https://mathinfo.unistra.fr/admission/admission"
                            class="download-btn">Admissions</a></div>
                </div> 
                <div class="navbar-item">
                    <a class="navbar-brand" href="https://www.cemosis.fr">
                        <img class="cemosis-logo" src="{{{uiRootPath}}}/img/cemosis-logo.svg" alt="Cemosis logo" />
                    </a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-brand" href="https://mathinfo.unistra.fr/">
                        <img class="cemosis-logo" src="{{{uiRootPath}}}/img/logo-ufr-mathinfo-unistra.webp" alt="UFR Math Info logo" />
                    </a>
                </div>
                <div class="navbar-item">
                    <a class="navbar-brand" href="https://www.unistra.fr">
                        <img class="cemosis-logo" src="{{{uiRootPath}}}/img/logo-unistra.png"
                            alt="Unistra logo" />
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>